article {
  font-size: var(--s0);

  .lead {
    font-family: var(--font-sans);
    font-size: var(--s1);
    line-height: 1.5;
    margin: var(--s2) 0;
  }

  img,
  video,
  figure {
    margin: var(--s2) 0;
  }

  figure>* {
    margin: 0;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    small {
      color: var(--color-mute);
    }
  }

  pre {
    position: relative;
  }
}

.coffee {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: var(--s4);
  color: var(--color-coffee-cup);
  filter: drop-shadow(var(--shadow-highlight));
}


.coffee-smoke {
  margin-left: auto;
  margin-right: auto;
  color: var(--color-coffee-smoke);
}

.badge {
  display: inline-block;
  border-radius: 9999px;
  padding: var(--s-3) var(--s-1);
  /* margin: 0 var(--s-2); */
  margin-bottom: var(--s-4);

  font-size: var(--s-2);
  font-weight: 700;
  background-color: var(--bg-code);
  color: var(--color-code);
}

.copy-to-clipboard {
  position: absolute;
  top: var(--s1);
  right: var(--s0);
  font-size: var(--s0);
  padding: var(--s-3);

  /* use absolute colors because we always use a dark color scheme in code */
  background-color: var(--color5);
  border-radius: var(--s-2);
  border: 2px solid var(--color1);
  color: var(--color1);
  opacity: 0;

  transition: opacity 300ms ease-in, background-color 100ms ease-in;

  pre:hover & {
    opacity: 0.8;
  }

  &:active {
    background-color: var(--color1);
  }
}