* {
  max-inline-size: var(--measure);
}

html,
body,
div,
header,
nav,
main,
footer {
  max-inline-size: none;
}

html {
  min-height: 100%;

  font-family: var(--font-serif);
  font-size: var(--s0);
  line-height: 1.5;

  color: var(--color-text);
  background-color: var(--bg-html);

  transition-property: color, background-color, border-color, text-decoration-color, opacity, transform;
  transition-duration: 300ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

::selection {
  background-color: var(--color7);
  color: var(--color2);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-sans);
  font-weight: 800;
}

h1 strong,
h2 strong,
h3 strong,
h4 strong,
h5 strong,
h6 strong {
  font-weight: 900;
}

h1 {
  font-size: var(--s4);
  line-height: 0.9;

  margin-top: var(--s3);
  margin-bottom: var(--s2);
}

h2 {
  font-size: var(--s2);
  line-height: 1.2;

  margin-top: var(--s2);
  margin-bottom: var(--s1);
}

h3 {
  font-size: var(--s1);
  margin-top: var(--s1);
  margin-bottom: var(--s0);
}

p {
  margin-top: var(--s1);
  margin-bottom: var(--s1);
  line-height: 1.7;
}

small {
  font-size: calc(1em / var(--s-ratio));
}

blockquote {
  margin-top: var(--s2);
  margin-bottom: var(--s2);
  padding-left: var(--s1);

  font-weight: 500;
  font-style: italic;
  border-left-width: var(--s-4);
  border-left-color: currentColor;

  quotes: "\201C" "\201D" "\2018" "\2019";
}

blockquote p:first-of-type:before {
  content: open-quote;
}

blockquote p:last-of-type:after {
  content: close-quote;
}

pre {
  font-size: var(--s-1);
  line-height: 1.3;

  margin: var(--s1) 0;
  padding: var(--s1) var(--s0);
  border-radius: var(--s-3);
  overflow-x: auto;

  max-width: var(--measure-code);

  box-shadow: var(--shadow-box);
}

code {
  font-size: calc(1em / var(--s-ratio));
  padding: var(--s-5) var(--s-3);
  margin: 0 var(--s-);
  background-color: var(--bg-code);
  color: var(--color-code);
  border-radius: var(--s-3);
  word-break: keep-all;
  white-space: nowrap;
}

pre code {
  background: transparent;
  border-width: 0;
  border-radius: 0;
  padding: 0;
  font-weight: inherit;
  color: inherit;
  font-size: inherit;
  font-family: inherit;
  line-height: inherit;
  word-break: inherit;
  white-space: inherit;
}

a code,
h1 code,
h2 code,
h3 code,
h4 code,
blockquote code,
thead th code {
  color: inherit;
}

figcaption {
  font-size: var(--s-1);
  line-height: 1.3;
  margin-top: var(--s-3);
}

ol,
ul {
  margin: var(--s1) 0;
  padding-left: var(--s3);
}

ol {
  list-style-type: decimal;
}

ul {
  list-style-type: disc;
}

li {
  margin-top: var(--s-3);
  margin-bottom: var(--s-3);
}

ol>li,
ul>li {
  padding-left: var(--s-3);
}

ul>li p,
ol>li p {
  margin: var(--s-1) 0;
}

ul>li>*:first-child:not(br),
ol>li>*:first-child:not(br) {
  margin-top: var(--s1);
}

ul>li>*:last-child:not(br),
ol>li>*:last-child:not(br) {
  margin-bottom: var(--s1);
}

ul ul,
ul ol,
ol ul,
ol ol {
  margin: var(--s-1) 0;
}

hr {
  margin: var(--s4) 0;
  border-color: currentColor;
  border-top-width: 1px;
}

hr+*,
h2+*,
h3+*,
h4+*,
h5+*,
h6+* {
  margin-top: 0;
}

table {
  font-size: var(--s-1);
  width: 100%;
  table-layout: auto;
  text-align: left;
  margin-top: var(--s3);
  margin-bottom: var(--s3);
}

thead {
  border-bottom: 1px solid currentColor;
}

thead th {
  padding: 0 var(--s-3) var(--s-3);
  font-weight: 600;
  vertical-align: bottom;
}

thead th:first-child {
  padding-right: 0;
}

tbody tr {
  border-bottom: 1px solid currentColor;
}

tbody tr:last-child {
  border-bottom: none;
}

tfoot {
  border-top: 1px solid currentColor;
}

tfoot td {
  vertical-align: top;
}

tbody td,
tfoot td {
  padding: var(--s-3);
}

tbody td:first-child,
tfoot td:first-child {
  padding-left: 0;
}

tbody td:last-child,
tfoot td:last-child {
  padding-right: 0;
}

a {
  color: var(--color-link);
  font-weight: 500;
}

a:hover {
  text-decoration: underline;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  font-weight: inherit;
  color: inherit;
}

h1 a:hover,
h2 a:hover,
h3 a:hover,
h4 a:hover,
h5 a:hover,
h6 a:hover {
  text-decoration: none;
}

strong {
  font-weight: 600;
}

a strong,
blockquote strong,
thead th strong {
  color: inherit;
}

.feather {
  width: 1em;
  height: 1em;
}