@font-face {
    font-family: Mosk;
    font-weight: 100;
    font-style: normal;
    src: url(/fonts/Mosk_Thin_100.ttf);
    font-display: swap;
}

@font-face {
    font-family: Mosk;
    font-weight: 200;
    font-style: normal;
    src: url(/fonts/Mosk_Extra-Light_200.ttf);
    font-display: swap;
}

@font-face {
    font-family: Mosk;
    font-weight: 300;
    font-style: normal;
    src: url(/fonts/Mosk_Light_300.ttf);
    font-display: swap;
}

@font-face {
    font-family: Mosk;
    font-weight: 400;
    font-style: normal;
    src: url(/fonts/Mosk_Normal_400.ttf);
    font-display: swap;
}

@font-face {
    font-family: Mosk;
    font-weight: 500;
    font-style: normal;
    src: url(/fonts/Mosk_Medium_500.ttf);
    font-display: swap;
}

@font-face {
    font-family: Mosk;
    font-weight: 600;
    font-style: normal;
    src: url(/fonts/Mosk_Semi-Bold_600.ttf);
    font-display: swap;
}

@font-face {
    font-family: Mosk;
    font-weight: 700;
    font-style: normal;
    src: url(/fonts/Mosk_Bold_700.ttf);
    font-display: swap;
}

@font-face {
    font-family: Mosk;
    font-weight: 800;
    font-style: normal;
    src: url(/fonts/Mosk_Extra-Bold_800.ttf);
    font-display: swap;
}

@font-face {
    font-family: Mosk;
    font-weight: 900;
    font-style: normal;
    src: url(/fonts/Mosk_Ultra-Bold_900.ttf);
    font-display: swap;
}

@font-face {
    src: url(/fonts/ComicMono.ttf);
    font-family: "Comic Mono";
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    src: url(/fonts/ComicMono-Bold.ttf);
    font-family: "Comic Mono";
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    src: url(/fonts/Alegreya-VariableFont_wght.ttf);
    font-family: "Alegreya";
    font-style: normal;
    font-display: swap;
}

:root {
    --color1: #fdf2f8;
    --color2: #EEDAD1;
    --color3: #020617;
    --color4: #30475E;
    --color5: #213146;
    --color6: #F1935C;
    --color7: #BA6B57;

    --font-sans: "Mosk", ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-serif: "Alegreya", ui-serif, Georgia, Cambria, "Times New Roman", Times, serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-mono: "Comic Mono", "Fira Code", ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;

    --shadow-highlight: -0.02em 0.04em var(--color-text);
    --shadow-main: 0 25px 50px -12px #02061740;
    --shadow-box: 0 4px 6px -1px #02061720, 0 2px 4px -2px #02061720;

    --s-ratio: 1.3;
    /* {320: 15.8, 360: 15.9, 640: 16.6, 768: 16.92, 960: 17.4, 1200: 18.0, 1600: 19.0, 1920: 19.8, 2500: 21.25, 3800: 24.5} */
    --s0: calc(15px + 0.25vw);
    --s1: calc(var(--s0) * var(--s-ratio));
    --s2: calc(var(--s1) * var(--s-ratio));
    --s3: calc(var(--s2) * var(--s-ratio));
    --s4: calc(var(--s3) * var(--s-ratio));
    --s5: calc(var(--s4) * var(--s-ratio));
    --s6: calc(var(--s5) * var(--s-ratio));
    --s7: calc(var(--s6) * var(--s-ratio));
    --s8: calc(var(--s7) * var(--s-ratio));
    --s-1: calc(var(--s0) / var(--s-ratio));
    --s-2: calc(var(--s-1) / var(--s-ratio));
    --s-3: calc(var(--s-2) / var(--s-ratio));
    --s-4: calc(var(--s-3) / var(--s-ratio));
    --s-5: calc(var(--s-4) / var(--s-ratio));

    --measure: 75ch;
    --measure-code: 120ch;
}

:root,
.light {
    --bg-html: var(--color2);
    --bg-main: var(--color1);
    --bg-code: var(--color2);

    --color-mute: var(--color2);
    --color-text: var(--color4);
    --color-bright: var(--color3);

    --color-link: var(--color6);
    --color-code: var(--color3);

    --color-placeholder: var(--color7);
    --color-highlight: var(--color7);

    --color-coffee-smoke: var(--color2);
    --color-coffee-cup: var(--color7);
}

.dark {
    --bg-selection: var(--color7);

    --bg-html: var(--color3);
    --bg-main: var(--color4);

    --color-mute: var(--color5);
    --color-text: var(--color2);
    --color-bright: var(--color1);

    --bg-code: var(--color5);
    --color-code: var(--color1);
}

/* support dark mode without javascript and avoids the annoying "flicker" on initial load */
/* TODO: is there some trick we could do to avoid this duplication?
   (without using a preprocessor of course) */
@media (prefers-color-scheme: dark) {
    :root:not(.light) {
        --bg-selection: var(--color7);

        --bg-html: var(--color3);
        --bg-main: var(--color4);

        --color-mute: var(--color5);
        --color-text: var(--color2);
        --color-bright: var(--color1);

        --bg-code: var(--color5);
        --color-code: var(--color1);
    }
}
