/* pages without main, like for example blog.fefe.de :) */
:root:not(:has(main)) {
    margin: var(--s2) auto;
    max-width: calc(var(--measure) + 2 * var(--s2));
    padding: var(--s1) var(--s2) var(--s2);
}

main {
    margin: var(--s2) auto;
    max-width: calc(var(--measure) + 2 * var(--s2));
    padding: var(--s1) var(--s2) var(--s2);

    background-color: var(--bg-main);
    box-shadow: var(--shadow-main);
}

@media screen and (min-width: 640px) {
    main {
        margin: var(--s6) auto 0;
        padding: var(--s2) var(--s4) var(--s4);

    }
}

.color-scheme-btn {
    position: absolute;
    top: var(--s4);
    right: var(--s2);

    padding: var(--s-2);

    border: 3px solid transparent;
    border-radius: 9999px;
    font-size: var(--s3);
}

.color-scheme-btn:hover {
    border-color: currentColor;
}

.color-scheme-btn:active {
    background-color: var(--color-text);
    color: var(--bg-html);
}

.lead {
    font-family: var(--font-sans);
    font-size: var(--s1);
    font-weight: 700;
    line-height: 1.3;
}


.highlight {
    color: var(--color-highlight);
}

h1 strong,
h2 strong,
h3 strong,
h4 strong,
h5 strong,
h6 strong {
    color: var(--color-bright);
    font-weight: inherit;
}

footer {
    display: flex;
    justify-content: space-between;

    max-width: calc(var(--measure) + 2 * var(--s2));
    margin: var(--s3) auto;
    padding: var(--s-1);

    opacity: 0.5;
    transition-property: opacity, filter;
    transition-duration: 300ms;
    transition-timing-function: cubic-bezier(0, 0.2, 0, 1);
}

footer>* {
    /* need to set font-size on children to not mess up --measure calculations*/
    font-size: var(--s-1);
}


footer:hover {
    opacity: 1;
    filter: none;
}

.link-list {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
    max-width: unset;
}

.link-list li {
    margin: 0;
    padding: 0;
}

.link-list li+li {
    margin-left: var(--s-1);
}

.ftf-dma-note {
    color: var(--color2);
    background-color: brown;
    font-size: var(--s-1);
    padding: var(--s-4);
}

.ftf-dma-note p {
    margin: 0;
    padding: 0;
    max-width: unset;
}

@media screen and (max-width: 640px) {
    .ftf-dma-note {
        display: none;
    }
}
